<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pro.kinect.traffic">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".AppService"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">
        </service>

        <!-- Default Activity-->
        <activity android:name=".MainActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Start service on system boot -->
        <receiver
            android:name=".Receivers.BootReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <!-- Usage counters update scheduler -->
        <receiver
            android:name=".Receivers.AlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="pro.kinect.traffic.ALARM_TRAFFIC_COUNTERS"/>
            </intent-filter>
        </receiver>

        <!-- Force counters update when connection state changes -->
        <receiver
            android:name=".Receivers.NetStateChangeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.ConnectivityManager.CONNECTIVITY_ACTION"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- Sync application list when new one installed by user -->
        <receiver android:name=".Receivers.PackageAddReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>